/*-----------------------------------------------------------*/
/*-----------------------------------------------------------*/
/*-------------------------  GENERAL  -----------------------*/
/*-----------------------------------------------------------*/
/*-----------------------------------------------------------*/
img, div {
  behavior: url(iepngfix.htc);
  border: 0px;
  margin: 0px;
  padding: 0px; }

img {
  max-width: 100%;
  height: auto;
  width: auto\9; }

* {
  margin: 0px;
  padding: 0px; }

body {
  font-family: 'Gentium Basic', serif;
  font-size: 1.125em;
  background-color: #f2f2f2;
  line-height: 1.5em;
  height: 100%;
  color: #282424; }

a img, :link img, :visited img {
  border-bottom: none; }

table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%; }

ol, ul {
  list-style: none; }

a {
  text-decoration: none;
  color: #872121;
  transition: all 0.5s ease;
  border-bottom:1px solid #ccc;}
  
a img, a:img, img, img:link, img:focus {
  border-bottom:none;
}

a:hover {
  color: #3d3d3d; }

h1 {
  font-weight: 500;
  font-size: 2.600em;
  line-height: 1.1em;
  margin: 0;
  padding: 0 0 0px 0;
  color:#aa1b1b;
  display: block;
  letter-spacing: -0.03em;
  font-family: 'Ubuntu Condensed', sans-serif;
}

h1 span {
  color: #282424;  
}

h2 {
  font-size: 1.722em;
  line-height: 1em;
  font-family: 'Ubuntu Condensed', sans-serif;
  letter-spacing: -0.02em;
  font-weight: 100;
  margin: 0px 0 15px 0;
  padding: 0 0 0 0px;
  text-align: left;
  color: #333;
  }

h3 {
  font-family: 'Gentium Basic', serif;
  color: #544f4e;
  margin:0 0 5px 0;
  font-size:1em;
}

h3 span {
  color:#872121; 
  font-size:1.5em;
}

.one-col {
  max-width: 650px;
  text-align: left;
}

.two-cols {
  float: left;
  width: 440px;
  margin: 0 40px 0 0; }

.two-cols:last-child {
  margin: 0px; }

div.three-cols {
  float: left;
  max-width: 290px;
  margin: 0 30px 0 0; }

div.three-cols:last-child {
  margin-right: 0px; }


.two-thirds {
  float: left;
  max-width: 600px;
  display: inline-block; }


.wrapper {
  max-width: 960px;
  margin: 0px auto; }
  
  
em {
  padding:8px;
  font-size:0.9em;
  background-color:#f2f2f2;
  font-family: 'Ubuntu Mono', sans-serif;
  font-style: normal;
}

.float-left {
  float:left;
  margin:0 20px 0 0;
}

/*-----------------------------------------------------------*/
/*-----------------------------------------------------------*/
/*-----------------------  2. HEADER  -----------------------*/
/*-----------------------------------------------------------*/
/*-----------------------------------------------------------*/


#head {
  padding:20px 80px 80px 80px;
}

header {
  padding:100px 0 0 0;
  text-align: center;
  font-size:1.111em;
  /*background:url('../images/header_dummy.png') 50% 0 no-repeat #872121 fixed;*/
  /*color:#e1bdbd;*/
  background-color:#fff;
  color:#423d3d;
  margin: 0 auto;
  border-bottom:3px solid #e2e2e2;
}

header h3 {
  text-align: center;
  margin:0 0 0px 0;
  display:block;
  font-weight:100;
  font-size: 1.2em;
  font-family: 'Ubuntu Condensed', sans-serif;
}


#meta {
  background-color:#fff;
  background: rgba(255, 255, 255, 0.9); 
  height:60px;
  line-height:60px;
  position: fixed;
  top:0px;
  display:block;
  width:100%;
  z-index: 20;
}


#meta nav {
  text-transform: uppercase;
  font-size: 0.80em;
  font-weight: 400;
  float:left;
  
  font-family: 'Ubuntu', sans-serif; 
  }
  

#meta nav ul li {
  float: left;
  display:inline-block;
  margin: 0 0 0 40px; }
  
#meta nav ul li#logo {
  margin:4px 0 0 0px;
}

#meta nav ul li#logo a {
  border-bottom:none;
}
  
#meta nav ul li a {
  color:#585858;
  border-bottom: none;
}

#meta nav ul li.linesaction a {
  margin:0 0 0 100px;
  text-transform: none;
  color:#872121;
  background-color:#f8f8f8;
  padding:5px;
}

#meta nav ul li.linesaction a:hover {
  color:#333;
}

#meta nav ul li a:hover, #meta nav ul li a.active {
  color:#872121;
}

#meta nav ul li#github {
  position: fixed;
  top: 0;
  right: 0;
  border: 0;
  z-index:999;
}



#teaser {
  font-family: 'Ubuntu Condensed', sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-size: 0.8em;
}

#desc {
  text-align: left;
  padding:0 0 70px 0;
  
}

#desc img {
  margin:10px 0px 0 0;
  border:3px solid #a8a8a8;
  line-height: 0px;
}

#desc img:hover {
  border:3px solid #ccc;
}

#desc .three-cols {
  position: relative;
}

#desc .plus {
  position: absolute;
  right:0px;
  bottom:0px;
  margin-bottom:10px;
  margin-right:-3px;
  height:12px;
  width:12px;
  padding:5px;
  color:#fff;
  background: url('../images/ic_plus.png') center center no-repeat #a8a8a8;
  display:inline-block;
}

#desc a {
  border-bottom: 0;
}





/*-----------------------------------------------------------*/
/*-----------------------------------------------------------*/
/*----------------------  3. CONTENT  -----------------------*/
/*-----------------------------------------------------------*/
/*-----------------------------------------------------------*/

div#content {
  padding:60px 0 0px 0;
  display:block;
}

div#content a {
  font-style: italic;
  font-size:1.1em;
}

div#content ul {
  margin:20px 0 0 0;  
}

div#content ul li {
  margin:14px 0 0 0;  
  color:#666;
}

div#content ul.check li {
  background: transparent url('../images/ic_check.png') 0px 8px no-repeat;
  padding:0 0 0 20px;
}

div#content ul.cross li {
  background: transparent url('../images/ic_cross.png') 0px 7px no-repeat;
  padding:0 0 0 20px;
}



div#content #devices {
  margin:40px 0 0 0;
  max-width:960px;
  height: 500px;
  text-align: center;
  position: relative;
}

div#content #devices img {
  display: none;
}

div#content #devices > div {
  position: absolute;
}

div#content #devices > div .frame-box {
  overflow: hidden;
  position: relative;
}

div#content #devices div.desktop {
  background: transparent url('../images/desktop.png') no-repeat scroll 0 0;
  width: 649px;
  height: 478px;
  left: 260px;
  padding: 22px 0px 0px 23px;
  box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  top: 0;
  z-index: 1;
}

div#content #devices div.desktop .frame-box {
  width: 604px;
  height: 315px;
}

div#content #devices div.desktop iframe {
  transform:scale(0.42);
  -o-transform:scale(0.42);
  -ms-transform:scale(0.42);
  -moz-transform:scale(0.42);
  -webkit-transform:scale(0.42);
  border:0;
  height:746px;
  left:-419px;
  position:absolute;
  top:-215px;
  width:1440px;
}

div#content #devices div.tablet {
  background: transparent url('../images/tablet.png') no-repeat scroll 0 0;
  width: 247px;
  height: 414px;
  top: 65px;
  left: 0;
  padding: 41px 0px 0px 34px;
  box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  z-index: 2;
}

div#content #devices div.tablet .frame-box {
  width: 189px;
  height: 321px;
}

div#content #devices div.tablet iframe {
  transform:scale(0.315);
  -o-transform:scale(0.315);
  -ms-transform:scale(0.315);
  -moz-transform:scale(0.315);
  -webkit-transform:scale(0.315);
  border:0;
  height:1027px;
  left:-206px;
  position:absolute;
  top:-352px;
  width:600px;
}

div#content #devices div.phone_landscape {
  background: transparent url('../images/phone_landscape.png') no-repeat scroll 0 0;
  height: 175px;
  width: 337px;
  top: 325px;
  left: 85px;
  padding: 11px 0px 0px 46px;
  box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  z-index: 3;
}

div#content #devices div.phone_landscape .frame-box {
  height: 143px;
  width: 251px;
}

div#content #devices div.phone_landscape iframe {
  transform:scale(0.42);
  -o-transform:scale(0.42);
  -ms-transform:scale(0.42);
  -moz-transform:scale(0.42);
  -webkit-transform:scale(0.42);
  border:0;
  height:339px;
  left:-175px;
  position:absolute;
  top:-98px;
  width:600px;
}

div#content #devices div.phone_portrait {
  background: transparent url('../images/phone_portrait.png') no-repeat scroll 0 0;
  width: 180px;
  height: 330px;
  bottom: 0px;
  right: 0px;
  padding: 37px 0px 0px 19px;
  box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  z-index: 3;
}

div#content #devices div.phone_portrait .frame-box {
  height: 250px;
  width: 142px;
}

div#content #devices div.phone_portrait iframe {
  transform:scale(0.295);
  -o-transform:scale(0.295);
  -ms-transform:scale(0.295);
  -moz-transform:scale(0.295);
  -webkit-transform:scale(0.295);
  border:0;
  height:860px;
  left:-169px;
  position:absolute;
  top:-305px;
  width:480px;
}

#installation .two-cols {
  margin:0 0 30px 0;
}

#installation p {
  text-transform: uppercase;
}

#installation:after {
  content: "";
  display: block;
  clear: both;
}

.table {
  display:table-cell;
}

.white_box {
  background-color:#fff;
  padding:30px;
  max-width:720px;
  font-size:0.9em;
  border-bottom: 2px solid #e6e6e6;
  margin:0px auto;
}

.white_box .two-cols {
  width:360px;
}

.white_box .two-cols:nth-child(even) {
  width:340px;
}

.white_box .two-cols:nth-child(odd) {
  width:380px;
}

#features .two-cols {
  width:330px;
}

/*-----------------------------------------------------------*/
/*-----------------------------------------------------------*/
/*-----------------------  4. FOOTER  -----------------------*/
/*-----------------------------------------------------------*/
/*-----------------------------------------------------------*/

#download {
  margin-top: 50px;
}

#download a {
  display: block;
  background: #aa1b1b;
  padding: 20px 40px;
  color: #fff;
  font-size: 36px;
  margin: 0 auto;
  text-transform: uppercase;
  width: 640px;
  text-align: center;
}

#download a:hover {
  background: #881b1b;
}

#contribute h2, #contribute p {
  text-align: center;
}

#contribute .one-col {
  margin: 0 auto;
}

#footer {
  padding:50px 0 0 0;
  margin:50px 0 0 0;
  max-width: 100%;
  background:url('../images/footer.png') 50% 0 no-repeat #f8f8f8 fixed;
  border-top:3px solid #e2e2e2;
}


#copyright {
  margin: 0px auto 0px auto;
  text-align: center;
  max-width: 960px;
  color: #999;
  letter-spacing: 0.03em;
  font-family: 'Ubuntu Condensed', sans-serif;
  line-height:1em;
  padding: 80px 0px 80px 0;
  font-size:0.8em;}

#copyright a {
  border-bottom: none;
  color: #666;
  }

#copyright a:hover {
  color: #333; }

#copyright span {
  display: block;
  margin: 0 0 15px 0; }

#copyright span.signet {
  margin: 30px 0 0px 0;
  display: block; }

#copyright span.signet a {
  display: inline-block;
  width: 131px;
  height: 127px;
  background: url("../images/signet-opoloo.png") 0px 0px no-repeat;
  border-bottom: none;
  transition: none; }

#copyright span.signet a:hover {
  background: url("../images/signet-opoloo.png") 0 -191px no-repeat; }

a.nostyle {
  border: 0px none;
  margin: 0px;
  padding: 0px;
  text-decoration: none; }

/*-----------------------------------------------------------*/
/*-----------------------------------------------------------*/
/*-------------------------  MISC  --------------------------*/
/*-----------------------------------------------------------*/
/*-----------------------------------------------------------*/

.red {
  color:#872121; 
  font-size:0.7em;
  font-family: Arial, Georgia, "Times New Roman", Times, serif;
}

.green {
  color:#218721;
}

.center {
  text-align: center;
}


.nomargin {
  margin:0px;
}

hr {
  line-height: 0px;
  max-width: 100%;
  height: 3px;
  font-size: 0;
  border: 0px;
  background-color: #e2e2e2;
  margin: 50px 0;
  clear:both;
}

header hr {
  margin:10px 0px;
  height:2px;
  width:100px;
  margin:0px auto;
  display:inline-block
}


.clearfix {
  float: none;
  clear: both; }
  

